@font-face {
    font-family: Fallout4;
    src: url(ShareTechMono-Regular.ttf);
  }
  
div {
    font-family: Fallout4;
}

body {
    background-color: #433d47;
}

h1 {
    font-family: Fallout4;
    color: #4fad3c;
}

h2 {
    font-family: Fallout4;
    color: #4fad3c;
}

p {
    color: aliceblue;
}

strong {
    color: aliceblue;
}