@font-face {
    font-family: Fallout4;
    src: url(ShareTechMono-Regular.ttf);
  }

a:link {
    color: #4fad3c;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #e46d31;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: #ac6bdd;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: #e46d31;
    background-color: transparent;
    text-decoration: underline;
}

div {
    font-family: Fallout4;
}

body {
    background-color: #433d47;
}

h1 {
    font-family: Fallout4;
    color: #4fad3c;
}

h2 {
    font-family: Fallout4;
    color: #4fad3c;
}
h3 {
    font-family: Fallout4;
    color: #4fad3c;
}

p {
    color: aliceblue;
}

strong {
    color: aliceblue;
}